#center {
    text-align: center;
}

#titulo {
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: rgb(131, 29, 28);
    margin: 30px; 
}
#subtitulo {
    text-align: center;
    text-decoration: underline;
    font-size: medium; 
}
.ajustar-texto {
    text-align: center;
    text-shadow: 1px;
    margin: 50px;
}

.tam-img {
    width: auto;
    height: 300px;
}

.fundo-texto p {
    background-color: white;
}

.menu li {
    display: inline;
    padding: 10px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    color: rgb(207, 203, 203);
}
